.section-content {
    display: flex;
    flex-direction: column;
  }

  .span-area {
      background-color: #131313;
      color: white;
      text-align: center;
      padding: 5px;
      border-style: solid;
      border-radius: 3px;
      border-color: rgb(50, 105, 44);
      font-size: 20px;
  }

  .text-area {
      height: 350px;
      background-color: #131313;
      color: white;
  }  